[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yann/Desktop/7 Habits of Highly Effective People]
row=0
col=15

[/home/yann/Desktop/Organizer.desktop]
row=1
col=15

[/home/yann]
row=2
col=15

