[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yann/Desktop/7 Habits of Highly Effective People]
row=1
col=0

[/home/yann/Desktop/Organizer.desktop]
row=2
col=0

[/home/yann]
row=0
col=0

[/]
row=3
col=0

